blinker
click
Flask
flask-cors
Flask-Login
Flask-SQLAlchemy
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
psycopg2-binary
pytest
pytest-flask
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
